
.Sections {
  padding: 50px 6vw;
  .section {
    color: #2d3e50;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: #fff;
    background: #ecf0f1;
    padding: 20px;
    border-radius: 30px;
    margin: 20px 0;
    box-shadow: -6px -6px 10px #64FFAD, 6px 6px 16px #008D2E;
    img {
      flex: 1;
    }
    .title {
      font-size: 26px;
      font-weight: bold;
      display: flex;
      align-items: center;
      padding: 10px;
      flex: 2;
      i {
        margin-left: 20px;
      }
    }
    &:hover {
      background: #fff;
    }
    &:active {
      box-shadow:
        inset -6px -6px 10px rgba(237, 237, 237, .75),
        inset 6px 6px 16px #9F9F9F;
    }
  }
}


@media only screen and (max-width: 700px) {
  .Sections {
    .section {

    }
  }
}
